__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.vscode/
.idea/
.DS_Store
node_modules/
*.zip
*.tar.gz
*.egg-info/
tests/
README.md
.git/
.gitignore
venv/
*.mp4
*.jpg
*.png
*.webp
*.wav
*.mp3
*.ttf
*.otf
static/
uploads/
.env
.env/